{% load static %}

{% include "header.html" %}

<main>
  <div class="columns">
  <div class="container profile">
    <div class="modal" id="edit-preferences-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit Preferences</p>
          <button class="delete"></button>
        </header>
        <section class="modal-card-body">
          <label class="label">Name</label>
          <p class="control">
            <input class="input" placeholder="Text input" type="text">
          </p>
          <label class="label">Username</label>
          <p class="control has-icon has-icon-right">
            <input class="input" placeholder="Text input" type="text" value="pmillerk">
          </p>
          <label class="label">Email</label>
          <p class="control has-icon has-icon-right">
            <input class="input" placeholder="Email input" type="text" value="hello@">
            <i class="fa fa-warning"></i>
            <span class="help is-danger">This email is invalid</span>
          </p>
          <div class="control">
            <div class="control-label is-pulled-left">
              <label class="label">Date of Birth</label>
            </div>
            <span>
              <span class="select">
                <select>
                  <option>Month</option>
                  <option>With options</option>
                </select>
              </span>
              <span class="select">
                <select>
                  <option>Day</option>
                  <option>With options</option>
                </select>
              </span>
              <span class="select">
                <select>
                  <option>Year</option>
                  <option>With options</option>
                </select>
              </span>
            </span>
          </div>
          <label class="label">Description</label>
          <p class="control">
            <textarea class="textarea" placeholder="Describe Yourself!"></textarea>
          </p>
          <div class="content">
            <h1>Optional Information</h1>
          </div>
          <label class="label">Phone Number</label>
          <p class="control has-icon has-icon-right">
            <input class="input" placeholder="Text input" type="text" value="+1 *** *** 0535">
          </p>
          <label class="label">Work</label>
          <p class="control has-icon has-icon-right">
            <input class="input" placeholder="Text input" type="text" value="Greater Washington Publishing">
          </p>
          <label class="label">School</label>
          <p class="control has-icon has-icon-right">
            <input class="input" placeholder="Text input" type="text" value="George Mason University">
          </p>
        </section>
        <footer class="modal-card-foot">
          <a class="button is-primary modal-save">Save changes</a>
          <a class="button modal-cancel">Cancel</a>
        </footer>
      </div>
    </div>
    <div class="section profile-heading">
      <div class="columns is-mobile is-multiline">
        <div class="column is-2">
          <span class="header-icon user-profile-image">
            <img alt="" src="https://placehold.it/300x225">
          </span>
        </div>
        <div class="column is-4-tablet is-10-mobile name">
          <p>
            <span class="title is-bold">{{user.username}}</span>
            <br>
          </p>
        </div>
      </div>
    </div>
    <div class="profile-options is-fullwidth">
      <div class="tabs is-fullwidth is-medium">
            <div>
              <span class="icon">
                <i class="fa fa-list"></i>
              </span>
              <span>Historique des prédictions</span>
            </div>
      </div>
    </div>
    {% if predictions %}
    <div class="box" style="border-radius: 0px;">
      <!-- Main container -->
      {% for prediction in predictions %}
      <div class="column is-3-tablet is-6-mobile">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img alt="" src="{% get_media_prefix%}{{ prediction.file_path }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <span class="tag is-dark subtitle">#{{ prediction.id }}</span>
              <p>{{ prediction.prediction }}</p>
            </div>
          </div>
        <br>
      </div>
      </div>
      {% endfor %}
    </div>
      {% endif %}
    </div>
  </div>
  </div>

</main>

{% include "footer.html" %}