{% load static %}

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <a href="https://fr.freepik.com/vecteurs-libre/scientifiques-minuscules-personnes-identifient-emotions-femmes-partir-voix-du-visage-detection-emotions-reconnaissance-etat-emotionnel-concept-technologie-capteur-emo-illustration-isolee-violette-vibrante-lumineuse_10782993.htm">Image de vectorjuice</a> sur Freepik
      </p>
    </div>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  </footer>
</body>
</html>