{% load static %}

{% include "header.html" %}

<main>
  <div class="form-box">
    <div class="field">
      <label class="label">Prénom</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Nom</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Confirmation email</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Mot de passe</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>

    <div class="field">
      <label class="label">Confirmation mot de passe</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input">
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control sign-up">
      <button class="button is-link">S'inscrire</button>
    </div>
  </div>
</main>

{% include "footer.html" %}