body{
  min-height: 100vh;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

header{
  min-height:50px;
}

.button.is-primary{
    background-color: #c454cb;
}

.button.is-primary:hover{
    background-color: #6e39a3;
}

.navbar-item img {
    max-height: 2rem;
}

.home-image {
    display: block;
    margin: 1rem auto;
    width: 50%;
    height: auto;
}

.home-button {
    display: flex;
    justify-content: center;
}

.select-option {
    margin: 0 1rem;
}

.form-box {
    margin: 1.5rem;
}

.webcam {
    margin: 1rem auto;
}

.sign-up {
    margin: 1rem 0 0;
}

footer{
  max-height:50px;
}

.image-source {
    margin: 1rem;
}