{% load static %}

{% if messages %}
    {% for message in messages %}
        <div class="notification is-success">
          <button class="delete"></button>
          <strong>{{ message }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% include "header.html" %}
<main>
    <div>
      <img class="home-image" src="{% static 'images/19199398.jpg' %}">
          <form method="POST" class="home-button" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="file has-name select-option">
                <label class="file-label">
                  <input class="file-input" type="file" name="face-image" accept="image/*">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>

                  <span class="file-name">
                      {% if image_path %}
                        {{ image_path }}
                      {% endif %}
                  </span>
                </label>
              </div>
              <div class="buttons select-option">
                  <button class="button is-primary" formaction="/submit_image/">
                      <strong>Envoyer</strong>
                  </button>
              </div>
          </form>
              <div class="buttons select-option">
                  <a class="button is-primary webcam" href="/webcam">
                      <strong>Webcam</strong>
                  </a>
              </div>
            {% if prediction %}
                <div class="modal is-active">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                      <div class="box">
                          <img src="data:image/png;base64,{{ image }}">
                          <p> {{ prediction }} </p>
                      </div>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
            {% endif %}
        </div>
      </div>
</main>
{% include "footer.html" %}